html(lang="en")
    head
        title WS_2020

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        if !htmlWebpackPlugin.options.hot
            script(src="./react.production.min.js")
            script(src="./react-dom.production.min.js")
        
        style.
            !{ htmlWebpackPlugin.options.normalizeCSS }

        style.
            textarea, body {
                font-family: 'Lato', sans-serif;
            }
    body
        #app
        
        script.
            window.BASE_URL = '!{ htmlWebpackPlugin.options.baseUrl }'

        if !htmlWebpackPlugin.options.hot
            script(src=htmlWebpackPlugin.options.app)
